.additional-event {

  &__title {
    margin: 0;
    padding: 1.5% 0 1.9%;

    font-size: 1.1em;
    text-align: center;

    background-color: $white;
  }

  &__tabs {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3% 3.2%;

    background-color: $blue-light;
  }
}
