.additional-event {

  &__title {
    margin: 0;
    padding: 1.5% 0 1.9%;

    font-size: 1.1em;
    text-align: center;

    background-color: $white;
  }

  &__tabs {
    margin: 0;
  }

  &__wrapper {
    background-color: $blue-light;
  }
}
