.main {
  padding: 0 1.6%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 2.25em;
  }

  &__link {
    position: relative;
    display: block;
    width: 21.9%;
    padding: 1.6% 1% 1.1% 4.8%;

    font-size: .96em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: $black-light;

    background-color: $white;
    border-radius: 0 0 6px 6px;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 7px 0px #808790;
    }

    &::before {
      content: '';
      position: absolute;
      top: 65%;
      left: 9%;
      transform: translateY(-50%);

      display: block;
      width: 40px;
      height: 26px;

      background-image: url("../img/icon-heartbeat.svg");
      background-size: 56%;
      background-repeat: no-repeat;
    }
  }

  &__final {
    margin-bottom: 1.5%;
  }
}
