.scoreboard {
  width: 16%;
  padding: 2% 1% 8%;

  background-color: rgba($fill, 0.55);
  background-image: url("../img/image-counter-strike.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 86%;

  &__board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9%;

    color: $grey-light;

    box-shadow: 0 23px 49px 0 rgba(48, 52, 65, 0.03);
    border-radius: 5px;
    background-color: $white;
  }

  &__game {
    text-align: center;
  }

  &__score {
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: $black-light;
  }

  &__date {
    font-size: .8em;
    text-align: center;
  }
}
