.tabs {
  display: flex;
  padding: 0;

  list-style: none;
  background-color: $white;
  border-top: 1px solid rgba($grey-light, .1);
  border-bottom: 1px solid rgba($grey-light, .1);

  &__item {
    display: flex;
    border-right: 1px solid rgba($grey-light, .1);
  }

  &__link {
    position: relative;

    display: block;
    padding: 1.5vw 2vw 1.4vw;

    font-size: 1.2em;
    color: $grey-darker;
    text-decoration: none;

    &:hover:not(.tabs__link--active),
    &:focus:not(.tabs__link--active) {
      color: $blue;
    }

    &--active {
      color: $black;
      box-shadow: 0 16px 27px 0 rgba(6, 86, 249, 0.08), 0 3px 0 0 $blue;
    }
  }
}
