.team {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding: 2.3% 3.2%;

  text-align: right;
  color: $grey-darker;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 6%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 6.3%;
  }

  &__avatar {
    display: block;
    width: 27%;
  }

  &__money {
    font-size: 2.2em;
    font-weight: 500;
    color: $black-light;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    font-size: 1.2em;
    font-weight: 400;
  }

  &__bet {
    position: relative;
    display: block;

    &:first-of-type {
      padding-right: 7%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);

        display: block;
        width: 3px;
        height: 3px;

        border-radius: 50%;
        background-color: $grey-darker;
      }
    }

    &:last-of-type {
      padding-left: 7%;
    }
  }

  &__name {
    font-size: 1.33em;
    color: $red;
  }

  &__button-bet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3% 5% 2%;

    color: $grey-light;

    background-color: transparent;
    border-radius: 3px;
    border: 1px solid rgba($grey-light, 0.3);

    &--win {

      .team__name {
        color: $green;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);

        display: block;
        width: 14%;
        height: 53%;

        border-radius: 50%;
        box-shadow: -0.14px 8px 18px 0px rgba(0, 0, 0, 0.07);
        background-color: $white;
        background-image: url("../img/icon-winner.svg");
        background-repeat: no-repeat;
        background-size: 54%;
        background-position: center;
      }
    }
  }
}

.team--right {

  align-items: flex-start;

  .team__wrapper {
    flex-direction: row-reverse;
  }

  .team__row {
    flex-direction: row-reverse;
  }

  .team__bet {

    &:first-of-type {
      padding-left: 7%;
      padding-right: 0;

      &::before {
        content: none;
      }
    }

    &:last-of-type {
      padding-right: 7%;
      padding-left: 0;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);

        display: block;
        width: 3px;
        height: 3px;

        border-radius: 50%;
        background-color: $grey-darker;
      }
    }
  }
}
