*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: $muller;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $black;

  background-color: $fill;
}

//img {
//  width: 100%;
//  height: auto;
//}

button,
a {
  cursor: pointer;
  transition: 300ms ease-out;
}
