$white: #ffffff;
$white-darker: #f5f7fa;
$black: #000000;
$black-light: #4c5768;
$grey-darker: #646970;
$grey: #808790;
$grey-light: #a4aebf;
$blue: #0b10ef;
$blue-dim: #7e9adf;
$blue-light: #f2f7fc;
$fill: #f9fbfd;
$green: #30ac29;
$red: #ea3333;

$desktop-width: 1300px;

// FONTS
$muller: "Muller", Arial, sans-serif;
